@font-face {
  font-family: "ALS Hauss";
  font-display: swap;
  src: url("../fonts/ALSHauss-Black.woff2") format("woff2"),url("../fonts/ALSHauss-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"),url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"),url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"),url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-back:before {
  content: "";
}

._icon-copy:before {
  content: "";
}

._icon-user:before {
  content: "";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 360px;
}

body {
  color: #1f1f1f;
  line-height: 1;
  font-family: "Inter";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: rgba(0,0,0,0);
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

html.menu-open.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper>main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper>* {
  min-width: 0;
}

[class*=__container] {
  max-width: 39.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 16px;
  width: 100%;
  font-family: Inter;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #fff;
  height: 3rem;
  background-color: #4a69d9;
  border-radius: 12px;
  -webkit-transition: background-color .3s ease 0s;
  transition: background-color .3s ease 0s;
}

.button--fw {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 2px solid #f5f5f5;
  background-color: #f5f5f5;
  border-radius: 12px;
  height: 2.75rem;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  color: #1f1f1f;
  padding: 0.3125rem 0.875rem;
}

.input:focus {
  outline: none;
  border-color: #4a69d9;
}

.input::-webkit-input-placeholder {
  color: rgba(31,31,31,.5);
}

.input::-moz-placeholder {
  color: rgba(31,31,31,.5);
}

.input:-ms-input-placeholder {
  color: rgba(31,31,31,.5);
}

.input::-ms-input-placeholder {
  color: rgba(31,31,31,.5);
}

.input::placeholder {
  color: rgba(31,31,31,.5);
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity .3s;
  transition: opacity .3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  color: rgba(31,31,31,.3);
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  color: rgba(31,31,31,.3);
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  color: rgba(31,31,31,.3);
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  color: rgba(31,31,31,.3);
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  color: rgba(31,31,31,.3);
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-family: "ALS Hauss";
  font-weight: 900;
  font-size: 32px;
  line-height: 96%;
  letter-spacing: -0.04em;
  color: #1f1f1f;
}

.auth__container {
  min-height: 100svh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 1.375rem;
  padding-bottom: 1.5rem;
}

.auth__back {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  color: #1f1f1f;
}

.auth__back:not(:last-child) {
  margin-bottom: 1.875rem;
}

.auth__top:not(:last-child) {
  margin-bottom: 2.5rem;
}

.auth__title:not(:last-child) {
  margin-bottom: 1rem;
}

.auth__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #4b4b4b;
}

.auth__form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.auth__bottom {
  margin-top: auto;
}

.form-auth__body:not(:last-child) {
  margin-bottom: 1.875rem;
}

.form-auth__groop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-auth__groop:not(:last-child) {
  margin-bottom: 1rem;
}

.form-auth__button:not(:last-child) {
  margin-bottom: 1rem;
}

.form-auth__input:not(:last-child) {
  margin-bottom: 0.6875rem;
}

.form-auth__parol {
  margin-left: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  color: #8e8e8e;
  padding-bottom: 0.1875rem;
  border-bottom: 1px solid #8e8e8e;
}

.form-auth__title {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  color: #8e8e8e;
}

.form-auth__title:not(:last-child) {
  margin-bottom: 0.75rem;
}

.form-auth__link {
  display: inline-block;
  font-family: "Inter";
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  color: #8e8e8e;
  padding-bottom: 3px;
}

.form-auth__link:not(:last-child) {
  margin-bottom: 1.0625rem;
}

.form-auth__link.active {
  color: #177ac2;
  border-color: #177ac2;
}

.form-auth a.form-auth__link {
  border-bottom: 1px solid #8e8e8e;
}

.form-auth .form-auth__link a {
  border-bottom: 1px solid #8e8e8e;
}

.form-auth .form-auth__link.active a {
  border-color: #177ac2;
}

.form-auth__code {
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  color: #4b4b4b;
  width: 100%;
  display: block;
}

.sms__inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (40px)[4];
  grid-template-columns: repeat(4, 40px);
  gap: 0.5rem;
}

.sms__inputs:not(:last-child) {
  margin-bottom: 2.5rem;
}

.sms__resend {
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  color: #8e8e8e;
  padding-bottom: 3px;
  border-bottom: 1px solid #8e8e8e;
}

.sms__resend[disabled] {
  opacity: .5;
}

.profile__container {
  padding-top: 1.375rem;
  padding-bottom: 1.5rem;
}

.profile__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.profile__referal:not(:last-child) {
  margin-bottom: 1.875rem;
}

.profile__blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;
}

.referal__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.referal__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.4375rem;
}

.referal__button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.referal__copy {
  font-size: 1.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3rem;
          flex: 0 0 3rem;
  padding: 0.3125rem;
}

.referal__copy.done {
  background-color: #32cd32;
}

.block-profile {
  background-color: #f5f5f5;
  border-radius: 0.75rem;
  padding: 0.875rem 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-profile b {
  white-space: nowrap;
  font-weight: 900;
  font-size: 32px;
  line-height: 96%;
  letter-spacing: -0.04em;
  text-align: center;
  color: #1f1f1f;
}

.block-profile__users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.block-profile__users:not(:last-child) {
  margin-bottom: 0.625rem;
}

.block-profile__icon {
  border-radius: 5px;
  width: 34px;
  height: 34px;
  border-radius: 0.3125rem;
  font-size: 1.375rem;
  background-color: #4a69d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.block-profile__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #4b4b4b;
}

.block-profile__text:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.block-profile__link {
  margin-left: auto;
  margin-top: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #0071ff;
}

.users__container {
  padding-top: 1.375rem;
  padding-bottom: 1.5rem;
}

.users__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.users__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 0.4375rem;
}

.item-user {
  background-color: #f5f5f5;
  border-radius: 0.75rem;
  padding: 1.375rem 0.625rem 0.9375rem;
}

.item-user__name {
  font-weight: 800;
  font-size: 20px;
  line-height: 140%;
  color: #1f1f1f;
}

.item-user__name:not(:last-child) {
  margin-bottom: 1.375rem;
}

.item-user__data {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #a6a6a6;
}

.item-user__num {
  color: #1e1e1e;
}

.page__back {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  color: #1f1f1f;
}

.page__back:not(:last-child) {
  margin-bottom: 1.875rem;
}

@media (any-hover: hover) {
  .button:hover {
    background-color: rgba(74,105,217,.8);
  }
}